packages:
  yum:
    xorg-x11-server-Xvfb: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    pango: []
    cups-libs: []
    libXScrnSaver: []
    libXrandr: []
    GConf2: []
    alsa-lib: []
    atk: []
    gtk3: []
    ipa-gothic-fonts: []
